*{
    padding:0px;
    margin:0px;
    scroll-behavior: smooth; 
}
body{
    background-image: linear-gradient(to right, rgba(24, 222, 236, 0.397) , rgb(99, 132, 238));
}
.display-flex{
    display:flex;
}
img
{
    border-radius: 50%;
}
.list li{
    list-style: none;
    margin:25px;
}
.list ul{
    text-decoration: none;
    
}
.list ol{
    text-decoration: none;
}
.list a{
    padding-top: 8px;
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.list ul{
    padding-left: 280px;
}

.dis{
    display:flex;
    padding-left:150px;
    padding-top: 50px;
    padding-right: 74px;
}

.contact{
    padding-top: 75px;
    padding-right: 89px;
}
.para h1{
    font-size: 56px;
    padding-top: 120px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.para p{
    font-size: 22px;
}
.para{
    padding-left: 100px;
}
#about a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
#about{
    background-color: rgb(28, 59, 236);
    border: 3px solid rgb(26, 145, 241);
    padding: 12px 20px;
    border-radius: 25px;

}
#about:hover{
    background-color: #e6a0da;
}
.bg{
    padding-top: 15px;
}
.icon i{
    font-size: 25px;
}
.list a:hover{
    color: rgb(5, 5, 12);
}